<% provide(:title, "Teams") %>
<div class="row">
<div class="col-3 col-s-3 menu">

 <ul>
        <li><%= link_to "Home", root_path %></li><br>
        <li><%= link_to "Teams", about_path %></li><br>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>

      </ul>

</div>


<div class="col-6 col-s-9">
  
<div class="woop"> 
        
  <h1>Teams</h1>



<%= link_to image_tag("Aberdeen.png", alt: "Aberdeen", width: "100px"),
            'https://dpkj-dropkickjunkie.c9users.io/one' %>
            
            <%= link_to image_tag("Celtic.png", alt: "Celtic"),
            'https://dpkj-dropkickjunkie.c9users.io/two' %>
            
  <%= link_to image_tag("180.png", alt: "Dundee"),
            'https://dpkj-dropkickjunkie.c9users.io/three' %>
            
              <%= link_to image_tag("DUFCcrest.png", alt: "Dundee United"),
            'https://dpkj-dropkickjunkie.c9users.io/four' %>
            
      
        <%= link_to image_tag("-Hamilton.png", alt: "Hamilton"),
            'https://dpkj-dropkickjunkie.c9users.io/five' %>
            
              <%= link_to image_tag("heart.png", alt: "Heart"),
            'https://dpkj-dropkickjunkie.c9users.io/six' %>
            
          <%= link_to image_tag("Inverness.png", alt: "Inverness CT"),
            'https://dpkj-dropkickjunkie.c9users.io/seven' %>
            
              <%= link_to image_tag("KilmarnockLogo.png", alt: "Kilmarnock"),
            'https://dpkj-dropkickjunkie.c9users.io/eight' %>
           
              <%= link_to image_tag("Motherwell.png", alt: "Motherwell"),
            'https://dpkj-dropkickjunkie.c9users.io/nine' %> 
            
   <%= link_to image_tag("PartickThistle.png", alt: "PartickThistle"),
            'https://dpkj-dropkickjunkie.c9users.io/ten' %>
            
            
               <%= link_to image_tag("rosscountry.png", alt: "Ross Country"),
            'https://dpkj-dropkickjunkie.c9users.io/eleven' %>
            
               <%= link_to image_tag("stjohnstone.png", alt: "St Johnstone"),
            'https://dpkj-dropkickjunkie.c9users.io/tweleve' %>
            

</div>
</div>






<div class="col-3 col-s-12">
   <div class="bleh">
<%= link_to image_tag("lion.png", alt: "dkj logo") %>,
</div>
</div>

</div>







