<% provide(:title, "Contact") %>
<div class="row">
<div class="col-3 col-s-3 menu">

 <ul>
        <li><%= link_to "Home", root_path %></li><br>
        <li><%= link_to "Teams", about_path %></li><br>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>

      </ul>

</div>



<h1>Contact</h1>
<p>
  dont contact us....
info about Cheat aka 'Roy' and Latie aka 'Jen'
<div class="datagrid">
  <table>
    <thead>
      <tr>
        <th>Team</th>
        <th>Wins</th></th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      <% @scot.each do |a| %>
      <tr>
        <td><%= a.team %></td>
        <td><%= a.wins %></td>
        <td><%= a.losses %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</p>
