<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<h1>Hamliton Academical Football Club</h1>
<p>
  
Location of New Douglas Park</p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type"text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 55.781805,
      "lng": 4.058386,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});


</script>

<div class="col-3 col-s-12">
  <div class="bside">
  
  <div class
  <div class="bside">
 <div id="data">
  <h1>Hamliton Academical Stats:</h1>
  <p>Wins: <%= @wins %> <br>
  Losses: <%= @losses %> </p>
</div>
  
</div>
</div>
</div>
</div>

