<% provide(:title, "Home") %>
<%= stylesheet_link_tag "custom.css.scss" %>
<div class="content">
<div class="row">



<div class="col-6 col-s-9">
  
        
    <% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<%else%>
<div class="bleh" >
<%=image_tag("lo.png", alt: "logo image")%>
<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%end%>
</div>

<div class="col-3 col-s-12">
  <div class="aside">
  <div class="sideimg">

<%= link_to image_tag("lion.png", alt: "dkj logo") %>,
</div>
</div>
</div>
</div>
</div>




