<% provide(:title, "one") %>
<div class="row">
<div class="col-0 col-s-3 menu">

 <ul>
        <li><%= link_to "Home", root_path %></li><br>
        <li><%= link_to "Teams", about_path %></li><br>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>

      </ul>

</div>


<div class="col-6 col-s-9">
  
  
<h1>Aberdeen Football Club</h1>
<p>
  
 
Location of Pittodrie Stadium</p>

<div style='width: 600px;'>
  <div id="map" style='width: 600px; height: 400px;'></div>
</div>

<div style='width: 600px;'>
  <div id="map" style='width: 600px; height: 400px;'></div>
</div>
<script type"text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 57.159215,
      "lng": -2.088755,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

</div>

<div class="col-3 col-s-12">
  <div class="bside">
  <div class="sideimg">
    
    
  <div class
  <div class="bside">
 <div id="data">
  <h1>Aberdeen Stats:</h1>
  <p>Wins: <%= @wins %> <br>
  Losses: <%= @losses %> </p>
</div>
  
</div>
</div>
</div>
</div>
</div>



