<% provide(:title, "statspage") %>
<div class="row">
<div class="col-3 col-s-3 menu">

 <ul>
        <li><%= link_to "Home", root_path %></li><br>
        <li><%= link_to "Teams", about_path %></li><br>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>

      </ul>

</div>


<div class="col-6 col-s-9">
  
   <ul>
    <% @cities.group_by(&:country).each do |country, cities| %>
        <li><%= country.name %></li>
        <li>
            <ul>
                <% cities.each do |city| %>
                    <li><%= city.name %></li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ul>



 
 
 
</div>

<div class="col-3 col-s-12">
  <div class="bside">
  <div class="sideimg">

<%= link_to image_tag("rails.png", alt: "dkj logo") %>,

</div>
</div>
</div>
</div>

