@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;

}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */



body {
    background-image: url("https://www.flickr.com/search/?license=4%2C5%2C9%2C10&text=grass&advanced=1");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  	background-size: cover;
	
	

}



textarea {
  resize: vertical;
}

.center {
  text-align: left;
  background-color: #0b0c0c;
  padding: 0px;
  
  h1 {
    margin-bottom: 10px;
    
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  font:Impact;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $gray-light;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 3em;
  font:Impact;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $gray-light;
}


/* header */

#logo {
  float: left;
  margin-right: 0px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
  background-color: #0b0c0c;
  
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.sideimg {
      img{
    width: 70%;
    height: auto;
    padding: 5px; 
}
}

.bleh {
      img{
    width: 100%;
    height: auto;
}
}

.woop {
      img{
    width: 120px;
    height: auto;
    padding: 2px;
}
}
/* footer */


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid ;
  background-color: #0b0c0c;
  float: left;
  position: relative;
  width: 100%;

 
  
  a {
  
    &:hover {
      color: $gray-light;
    }
  }
  small {
    float: left;
 
  }
  ul {
    float: right;
    list-style: none;
    font: Impact;
  }
    
    li {
      float: left;
      margin-left: 15px;
      font: Impact;
    }
  }
  
  
.container
{
  padding: 0px ;
 
}


.btn 
{
	border-top:		2px solid #a3ceda;
	border-left:		2px solid #a3ceda;
	border-right:		2px solid #4f6267;
	border-bottom:		2px solid #4f6267;
	padding:		10px 20px !important;
	font-size:		14px !important;
	background-color:	#c4f1fe;
	
	font-weight:		bold;
	color:			#2d525d;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 0px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;

}

.gravatar_edit {
  margin-top: 15px;
}

.stats {

  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-light;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;

  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
 
  margin-bottom: 15px;
  @include box_sizing;

}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 0px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  height: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

* {
    box-sizing: border-box;
}


