<footer class="container-fluid">
  <div class="row">
    <div class="footer">
    <a href="#"> Copyright &copy; Katie Watson</a>
      <p>Bowling green locations - Assingment Two  CS2512, CS2514 Advanced Web Application Development</a>]</p>
    </div>
  </div>
</footer>
   